################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Framework.Helpers/bin
/Framework.Helpers/obj
/.vs
/Framework.Uno/bin
/Framework.Uno/obj
/Framework.VMUtilities/bin
/Framework.VMUtilities/obj
/FrameworkInterfaces/bin
/FrameworkInterfaces/obj
/GeometrySample/GeometrySample.Droid/bin
/GeometrySample/GeometrySample.Droid/obj
/GeometrySample/GeometrySample.iOS/bin
/GeometrySample/GeometrySample.iOS/obj
/GeometrySample/GeometrySample.UWP/bin
/GeometrySample/GeometrySample.UWP/obj
/GeometrySample/GeometrySample.Wasm/bin
/GeometrySample/GeometrySample.Wasm/obj
/LamarDiFacade/bin
/LamarDiFacade/obj
/SMDIFacade/bin
/SMDIFacade/obj
/TinyDIFacade/bin
/TinyDIFacade/obj
/UnityDIFacade/bin
/UnityDIFacade/obj
/ViewModelInterfaces/bin
/ViewModelInterfaces/obj
/ViewModels/bin
/ViewModels/obj
